.bg-red {
  background-color: red;
}
.bg-RED {
  background-color: red;
}
.bg-yellow {
  background-color: yellow;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.bg-orange {
  background-color: orange;
}

.bg-pink {
  background-color: pink;
}

.bg-black {
  background-color: black;
}

.bg-brown {
  background-color: brown;
}
