.bg-red,
.bg-RED,
.bg-Red,
.bg-rEd,
.bg-reD,
.bg-REd,
.bg-rED,
.bg-ReD,
.bg-der {
  background-color: red;
}
.bg-yellow,
.bg-YELLOW {
  background-color: yellow;
}

.bg-green,
.bg-GREEN {
  background-color: green;
}

.bg-blue,
.bg-BLUE {
  background-color: blue;
}

.bg-orange,
.bg-ORANGE {
  background-color: orange;
}

.bg-pink,
.bg-PINK {
  background-color: pink;
}

.bg-black,
.bg-BLACK {
  background-color: black;
}

.bg-brown,
.bg-BROWN {
  background-color: brown;
}
